-e svn+http://code.djangoproject.com/svn/django/branches/releases/1.3.X#egg=Django
django-annoying==0.7.6
south==0.7.3
django_compressor==0.8
django-mptt==0.4.2
Sphinx==1.0.7
yolk
lxml==2.3
pyquery==1.0
MySQL-python
-e git+https://github.com/piumosso/django-sphinx@020ca411834d4fccc1abc2f428ec248bce2366be#egg=djangosphinx
