/**
 * Common styles
 *
 * @package     djangodocs
 * @version     1.0
 * @author      Artem Golikov <art@futurecolors.ru>
 * @copyright   Future Colors
 *
 * @colordef    #333        Text
 * @colordef    #0d35e1     Links
 * @colordef    #5517e0     Visited links
 * @colordef    #cf0202     Hover links
 */


/**
 * @section     Common styles
 */

body {
    font-family: Tahoma;
    font-size: 62.5%;
    color: #333;
}
.l-wrapper {
    position: relative;
    min-width: 960px;
    max-width: 1300px;
    margin: 0px auto;
    padding: 0px 20px;
}
.b-section {}
.m-search-focus .b-section {
    text-shadow: 0px 0px 6px #999!important;
    color: transparent!important;
}
.m-search-focus .b-section span {
    text-shadow: 0px 0px 6px #999!important;
    color: transparent!important;
}
.m-search-focus .b-section a {
    text-shadow: 0px 0px 6px #7488e1!important;
    color: transparent!important;
}


/**
 * @subsection  Logo
 */

.b-logo {
    position: absolute;
    top: 0.9em;
    left: 20px;
    text-decoration: none;
    font-size: 260%;
    color: #cf0202!important;
}


/**
 * @subsection  Link styles
 */

.ie a,
a[href] {
    color: #0d35e1;
}
.ie a:visited,
a[href]:visited {
    color: #5517e0;
}
.ie a:active,
a[href]:active,
.ie a:hover,
a[href]:hover {
    color: #cf0202;
}
.ie .g-systemlink:visited,
.g-systemlink[href]:visited,
.ie .g-systemlink:active,
.g-systemlink[href]:active,
.ie .g-systemlink:hover,
.g-systemlink[href]:hover {
    color: #0d35e1;
}
