/**
 * Section contents
 *
 * @package     djangodocs
 * @version     1.0
 * @author      Artem Golikov <art@futurecolors.ru>
 * @copyright   Future Colors
 */


/**
 * @section     Section contents
 */

.l-contents {
    width: 20%;
    float: right;
    padding-top: 2.4em;
}
.b-contents {}
.b-contents__header {
    padding-bottom: 1em;
    font-size: 160%;
}
.b-contents__list .b-contents__list {
    margin-top: 0.5em;
    padding: 0.5em 0px 0px 1.5em;
    border-left:  1px dotted #aaa;
}
.m-search-focus .b-contents__list {
    border: none;
}
.b-contents__item {
    padding-bottom: 1em;
}
.b-contents__item .b-contents__item {
    padding-bottom: 1em;
    margin-right: -3px;
}
.b-contents__list .b-contents__item:last-child {
    margin-bottom: 1em;
    padding-bottom: 0px;
}
.b-contents__item_current {
    border-right: 3px solid #555;
} 
.b-contents__link {
    font-size: 130%;
}
