/**
 * Dashboard
 *
 * @package     djangodocs
 * @version     1.0
 * @author      Artem Golikov <art@futurecolors.ru>
 * @copyright   Future Colors
 */


/**
 * @section     Dashboard
 */

.b-dashboard {
}
.b-dashboard__panel {
    float: left;
    width: 39%;
    padding: 5%
}
.b-dashboard .b-dashboard__panel:first-child {
    margin-top: 2em;
}
.b-dashboard__section {
    margin-bottom: 2em;
    line-height: 1.4;
    font-size: 140%;
}
.b-dashboard__section-header {
    font-size: 142%;
    padding-bottom: 1em;
}
