/**
 * Search form
 *
 * @package     djangodocs
 * @version     1.0
 * @author      Artem Golikov <art@futurecolors.ru>
 * @copyright   Future Colors
 *
 * @colordef    #25911f     Green button
 */


/**
 * @section     Search form
 */

.b-search {
    padding-top: 2.5em;
    text-align: center;
}
.b-search__keyword {
    width: 40%;
    height: 1.6em;
    margin-right: 1em;
    padding: 0px 0.2em;
    border: 1px solid #bbb;
    font-size: 160%;
}
.b-search__sumbit {
    height: 1.7em;
    margin-top: 0.2em;
    padding: 0px 1em;
    font-size: 140%;
    color: #fffff0;
    border: 1px solid #185515;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
    background: #25911f;
    cursor: pointer;
}
.b-search__sumbit:hover {
    background: #279b21;
}
.b-search__sumbit:active {
    background: #22861d;
}
