/**
 * Content / text styles, typography
 *
 * @package     djangodocs
 * @version     1.0
 * @author      Artem Golikov <art@futurecolors.ru>
 * @copyright   Future Colors
 */


/**
 * @section     Content / text styles, typography
 */

.l-content {
    margin: 0px 25%;
}
.b-content {}


/**
 * @subsection  Headers
 */

.b-content h1 {
    min-height: 1.5em;
    padding-top: 0.4em;
    font-size: 280%;
}
.b-content h2 {
    min-height: 1.8em;
    padding-top: 0.55em;
    font-size: 240%;
}
.b-content h3 {
    min-height: 1.6em;
    padding-top: 0.9em;
    font-size: 200%;
}
.b-content h4 {
    min-height: 1.6em;
    font-size: 180%;
}
.b-content h5 {
    font-size: 140%;
    font-weight: bolder;
}


/**
 * @subsection  Text
 */

.b-content p {
    margin: 1.54em 0px;
    line-height: 1.4;
    font-size: 140%;
}
.b-content blockquote {
    margin: -0.5em -0.5em 1.04em;
    padding:  0.5em;
    line-height: 1.4;
    font-size: 140%;
    background: #e2eef6;
}


/**
 * @subsection  Lists
 */

.b-content ul {
    list-style: disc;
}
.b-content ol {
    list-style: decimal;
}
.b-content li {
    margin: 1.54em 0px 1.54em 1em;
    padding-left: 0.4em;
    line-height: 1.4;
    font-size: 140%;
}
.b-content li * {
    font-size: 100%!important;
}


/**
 * @subsection  Heghlight
 */

.b-content .highlight-python,
.b-content .highlight-html,
.b-content .highlight {
    margin: -0.5em -0.5em 1.04em;
    padding:  0.5em;
    line-height: 1.42;
    font-size: 140%;
    font-family: courier;
    background: #f0f6dc;
    overflow-x: auto;
}
.b-content .highlight-html {
    background: #e2eef6;
}
.b-content .highlight-python:hover,
.b-content .highlight-html:hover,
.b-content .highlight:hover {
    overflow-x: auto;
}
.b-content .highlight-python .highlight,
.b-content .highlight-html .highlight {
    font-size: 100%;
    overflow: visible;
}
.m-search-focus .b-content .highlight-python,
.m-search-focus .b-content .highlight-html,
.m-search-focus .b-content .highlight {
    background: #fffff0;
}


/**
 * @subsection  Defenition lists
 */

.b-content dl {
    line-height: 1.4;
}
.b-content dt {
    font-size: 160%;
}
.b-content dd {
    padding: 0px 0px 1.54em 2em;
    font-size: 140%;
}
.b-content dt p,
.b-content dd * {
    font-size: 100%!important;
}
.b-content dd:last-child :last-child {
    margin-bottom: 0px;
}


/**
 * @subsection  Version added
 */

.b-content .versionadded {
    font-size: 120%;
    font-style: italic;
    color: #11721a;
}
.b-content .versionadded a {
    color: #11721a!important;
}


/**
 * @subsection  Warnings
 */

.b-content .admonition {
    padding-left: 60px;
    background: url(../images/warning.png) 0px 0px no-repeat;
}
.b-content .admonition-title {
    margin-bottom: -0.2em;
    padding-top: 0.7em;
    font-weight: bolder;
}


/**
 * @subsection  Tables
 */

.b-content table {
    width: 100%;
    margin: 1.54em 0px;
    line-height: 1.4;
    font-size: 140%;
}
.b-content td,
.b-content th {
    text-align: left;
    padding: 0.6em 1em;
}
.b-content th {
    background: #e2eef6;
}


/**
 * @subsection  Pygments
 */

.b-content .c {
    color: #999988;
    font-style: italic;
}
.b-content .err {
    background-color: #E3D2D2;
    color: #A61717;
}
.b-content .k {
    font-weight: bold;
}
.b-content .o {
    font-weight: bold;
}
.b-content .cm {
    color: #999988;
    font-style: italic;
}
.b-content .cp {
    color: #999999;
    font-weight: bold;
}
.b-content .c1 {
    color: #999988;
    font-style: italic;
}
.b-content .cs {
    color: #999999;
    font-style: italic;
    font-weight: bold;
}
.b-content .gd {
    background-color: #FFDDDD;
    color: #000000;
}
.b-content .ge {
    font-style: italic;
}
.b-content .gr {
    color: #AA0000;
}
.b-content .gh {
    color: #999999;
}
.b-content .gi {
    background-color: #DDFFDD;
    color: #000000;
}
.b-content .go {
    color: #888888;
}
.b-content .gp {
    color: #555555;
}
.b-content .gs {
    font-weight: bold;
}
.b-content .gu {
    color: #AAAAAA;
}
.b-content .gt {
    color: #AA0000;
}
.b-content .kc {
    font-weight: bold;
}
.b-content .kd {
    font-weight: bold;
}
.b-content .kp {
    font-weight: bold;
}
.b-content .kr {
    font-weight: bold;
}
.b-content .kt {
    color: #445588;
    font-weight: bold;
}
.b-content .m {
    color: #009999;
}
.b-content .s {
    color: #BB8844;
}
.b-content .na {
    color: #008080;
}
.b-content .nb {
    color: #999999;
}
.b-content .nc {
    color: #445588;
    font-weight: bold;
}
.b-content .no {
    color: #008080;
}
.b-content .ni {
    color: #800080;
}
.b-content .ne {
    color: #990000;
    font-weight: bold;
}
.b-content .nf {
    color: #990000;
    font-weight: bold;
}
.b-content .nn {
    color: #555555;
}
.b-content .nt {
    color: #000080;
}
.b-content .nv {
    color: #008080;
}
.b-content .ow {
    font-weight: bold;
}
.b-content .w {
    color: #BBBBBB;
}
.b-content .mf {
    color: #009999;
}
.b-content .mh {
    color: #009999;
}
.b-content .mi {
    color: #009999;
}
.b-content .mo {
    color: #009999;
}
.b-content .sb {
    color: #BB8844;
}
.b-content .sc {
    color: #BB8844;
}
.b-content .sd {
    color: #BB8844;
}
.b-content .s2 {
    color: #BB8844;
}
.b-content .se {
    color: #BB8844;
}
.b-content .sh {
    color: #BB8844;
}
.b-content .si {
    color: #BB8844;
}
.b-content .sx {
    color: #BB8844;
}
.b-content .sr {
    color: #808000;
}
.b-content .s1 {
    color: #BB8844;
}
.b-content .ss {
    color: #BB8844;
}
.b-content .bp {
    color: #999999;
}
.b-content .vc {
    color: #008080;
}
.b-content .vg {
    color: #008080;
}
.b-content .vi {
    color: #008080;
}
.b-content .il {
    color: #009999;
}
